{#template/base.html.twig #}
    <link rel="stylesheet" type="text/css" media="screen" href="/views/public/css/style.css">
    <script src="/views/public/js/main.js"></script>

{% block name %}
     <title>Accueil</title>
{% endblock %}


{% block header %}
    <div id="grid_container">
        <div id="item_header">    
            <button class="menu_button" onclick="window.location.href='/'">Accueil</button> 
            {% if customerId != 0 %}
                <button class="menu_button" onclick="window.location.href='/?page=member'">Mon compte</button> 
                <button class="menu_button" onclick="window.location.href='/?page=basket'">Mon panier</button> 
                <button class="menu_button" onclick="window.location.href='/?page=disconnect'">Deconnexion</button> 
            {% else %}
                <button class="menu_button" onclick="window.location.href='/?page=connect'">Connexion</button> 
            {% endif %}
        </div>
{% endblock %}

{% block body %}
    <div id="item_main">
        {% block content %}

        {% endblock %}
    </div>
{% endblock %}

{% block footer %}
    <div id="item_footer">
        <p>BIOTTE Nathan</p>
        <p>GUINGAND Jules</p>
    </div>
{% endblock %}

