{#template/base.html.twig #}
    <link rel="stylesheet" type="text/css" media="screen" href="/views/public/css/style.css">
    <script src="/views/public/js/main.js"></script>

{% block name %}
     <title>Accueil</title>
{% endblock %}


{% block header %}
    <div class="grid-container">
        <div id="item-header">    
            <a class = "menu-item" href="/">
                <div class="menu-item-div" id="Accueil" >Accueil</div>
            </a>
            {% if customerId != 0 %}
                <a class = "menu-item" href="/?page=member">
                    <div class="menu-item-div" id="page_member" >Mon compte</div>
                </a>
                <a class = "menu-item" href="/?page=basket">
                    <div class="menu-item-div" id="page_basket" >Mon panier</div>
                </a>
                <a class = "menu-item" href="/?page=disconnect">
                    <div class="menu-item-div" id="page_disconnect" >Deconnexion</div>
                </a>
            {% else %}
                <a class = "menu-item" href="/?page=connect">
                    <div class="menu-item-div" id="page_connect" >Connexion</div>
                </a>
            {% endif %}
        </div>
{% endblock %}





{% block body %}
    <div id="item-main">
        {% block content %}

        {% endblock %}
    </div>
{% endblock %}

{% block footer %}
    <div id="item-footer">
        <p>BIOTTE Nathan</p>
        <p>GUINGAND Jules</p>
    </div>
     {% if customerId != 0 %}
        <p> logged</p>
    {% else %}
        <p>not logged </p>
    {% endif %}
{% endblock %}

