{#template/base.html.twig #}

{% block header %}
    <a class = \"menu-item\" href=\"../Accueil/index.html\">
        <div class=\"menu-item-div\" id=\"Accueil\" >Accueil</div>
    </a>
    <a class = \"menu-item\" href=\"../Recapitulatif/index.html\">
        <div class=\"menu-item-div\" id=\"Recapitulatif\" >Récapitulatif</div>
    </a>
    <a class = \"menu-item\" href=\"../Contact/index.html\">
        <div class=\"menu-item-div\" id=\"Connexion\" >Connexion</div>
    </a>
{% endblock %}

{% block content %}
    <p>BLABLABLA</p>
{% endblock %}

{% block footer %}
    <p>BIOTTE Nathan</p>
    <p>GUINGAND Jules</p>
{% endblock %}