{% extends 'base.html.twig' %}

{% block content %}
        {% block filtre %}
                <form method="POST">
                        <input type="range" name ="slider" min="0" max="100" value= {{ slider_filter }} id="filter_slider"><br>
                        <input type="submit" value="Appliquer" />
                </form>
        {% endblock %}
        {% block list %}
                {% for product in products %}
                        <div>
                                {{ product[1] }}<br>
                                {{ product[2] }}<br> 
                                {{ product[3] }}€<br> 
                                <select id="basket_numberproduct">
                                        <option value="">Nombre voulu d'article</option>
                                        <option value=1>1</option>
                                        <option value=2>2</option>
                                        <option value=3>3</option>
                                        <option value=4>4</option>
                                        <option value=5>5</option>
                                </select>
                                <br>
                                <button name="basket_add">
                                        Ajouter au panier
                                </button>
                        </div>
                {% endfor %}
        {% endblock %}
{% endblock %}