body{
    background-image: url(../Images/bg.jpg) ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-width: 800px;
}


    /* Menu */
    #menu{
        position: fixed;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5px;
        border-style: solid;
        height: 75px;
        background-color: black;
        z-index: 2;
        grid-template-columns: auto auto auto;
        display: grid;
        border-radius: 20px;
    }
    
    .menu-item{
        background-color:rgb(8, 8, 8);
        text-align: center;
        margin: 10px;
        text-decoration: none;
        border-radius: 20px;
        font-size: 100%;
        display: inline-block;
        position: relative;
        min-width: 50px;
        color: white;
    }
    
    .menu-item:hover{
        background-color: grey;
    }
    
    #actif {
        background-color: grey;
    }
    
    .menu-item-div {
        text-align: center;
        width: 100%;
    }
    
    .bouton-remonter{
        background-color: black;
        color: Black;
        text-align: center;
        width: 20px;
        border: white;
        border-style: solid;
        margin-left: 90%;
        top: 95%;
        transform: translateY(-95%);
        position: fixed;
        cursor: pointer;
    }
    
    .bouton-remonter:hover{
        background-color: grey;
    }
    
    /* Fin menu */


    /* Mise en forme */

    .grid-container {
        display: grid;
        grid-template-areas: 'header' 'main' 'footer';
        grid-gap: 10px;
        background-color: transparent;
        padding: 10px;
        width: auto;
    }
    
    .grid-container>div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px 0;
        font-size: 10px;
    }
    
    #item-header {
        grid-area: header;
        background-color: grey;
    }

    #item-main {
        grid-area: main;
        margin-top: 5%;
        margin-left: 8%;
        margin-right: 8%;
        background-color: transparent; 
    }

    #item-footer {
        grid-area: footer;
    }
    
    /* Fin Mise en forme */