body{
    background-image: url(../Images/bg.jpg) ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-width: 800px;
}


    /* Menu */
    #menu{
        position: fixed;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5px;
        border-style: solid;
        height: 75px;
        background-color: black;
        z-index: 2;
        grid-template-columns: auto auto auto;
        display: grid;
        border-radius: 20px;
    }
    
    /* Fin menu */

    .menu_button {
        border-style: solid;
        border-radius: 20px;
        width: auto;
        height: 30px;
    }

    .menu_button:hover{
        background-color: grey;
    }

    /* Mise en forme */

    #grid_container {
        display: grid;
        grid-template-areas: 'header' 'main' 'footer';
        grid-gap: 10px;
        background-color: grey;
        padding: 10px;
        width: auto;
    }
    
    #grid_container>div {
        background-color: white;
        text-align: center;
        font-size: 10px;
    }
    
    #item_header {
        grid-area: header;
        position: absolute;
        right:30px;
        border-style: solid;
        border-radius: 20px;
        padding: 10px;
        background-color: grey;
    }

    #item_main {
        grid-area: main;
        margin-top: 5%;
        margin-left: 8%;
        margin-right: 8%;
        padding: 20px 0;
        background-color: transparent; 
    }

    #item_footer {
        grid-area: footer;
    }
    
    /* Fin Mise en forme */